/*    Анимация букв    */

@keyframes animate {
	0% {
		color: #f00;
		-webkit-box-shadow: 0 2px 10px rgba(255, 0, 0, 1);
		box-shadow: 0 2px 10px rgba(255, 0, 0, 1);
		border: 1px solid rgba(255, 0, 0, 1);
	}

	33.3% {
		color: #ff0;
		-webkit-box-shadow: 0 2px 10px rgba(255, 255, 0, 1);
		box-shadow: 0 2px 10px rgba(255, 255, 0, 1);
		border: 1px solid rgba(255, 255, 0, 1);
	}

	66.6% {
		color: #0f0;
		-webkit-box-shadow: 0 2px 10px rgba(0, 255, 0, 1);
		box-shadow: 0 2px 10px rgba(0, 255, 0, 1);
		border: 1px solid rgba(0, 255, 0, 1);
	}

	100% {
		color: #f00;
		-webkit-box-shadow: 0 2px 10px rgba(255, 0, 0, 1);
		box-shadow: 0 2px 10px rgba(255, 0, 0, 1);
		border: 1px solid rgba(255, 0, 0, 1);
	}
}

body {
	margin: 0;
	padding: 0;
	background: #262626;
}

.glowing {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

span {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: 0 -2.5px;
	font-family: verdana;
	font-size: 10px;
	color: #ffffff;
	text-align: center;
	line-height: 24px;
	border: 1px solid rgba(255, 255, 255, .4);
	-webkit-animation: animate 2s linear infinite;
	-o-animation: animate 2s linear infinite;
	animation: animate 2s linear infinite;
}

.glowing span:nth-child(1) {
	animation-delay: 0s;
}

.glowing span:nth-child(2) {
	animation-delay: .1s;
}

.glowing span:nth-child(3) {
	animation-delay: .2s;
}

.glowing span:nth-child(4) {
	animation-delay: .3s;
}

.glowing span:nth-child(5) {
	animation-delay: .4s;
}

.glowing span:nth-child(6) {
	animation-delay: .5s;
}

.glowing span:nth-child(7) {
	animation-delay: .6s;
}